<div class="col-sm-5">
	{{ form_start(form) }}
    {{ form_row(form.nom, { 'attr': { 'style': 'width: 100%;padding: 10px;' } }) }}
	{{ form_row(form.qte, { 'attr': { 'style': 'width: 100%;padding: 10px;' } }) }}
	{{ form_row(form.prix, { 'attr': { 'style': 'width: 100%;padding: 10px;' } }) }}
	{{ form_row(form.categories, { 'attr': { 'style': 'width: 100%;padding: 10px;' } }) }}
	{{ form_widget(form) }}
</div>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
